<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col">
        <h2>Cra 13 - Cll 41 - Intersección 2 Chapinero (Plan Conexión)</h2>
        <a href= "maps/intersection2/plan1" class="btn btn-success">Plan 1 Conexión</a>
        |
        <a href= "maps/intersection2/plan2" class="btn btn-warning">Plan 2 Desconexión</a>
        |
        <a href= "maps/intersection2/plan3" class="btn btn-danger">Plan 3 Automatico</a>
        <hr />
    </div>
    <div class="center-div">
        <img style="width: 350px;" src="./assets/images/inter2.png">
        &nbsp; &nbsp; &nbsp;    
        <img style="width: 300px; height: 170px;" src="./assets/images/plan_conexion_inter2.png">
        <img style="width: 200px; height: 120px; margin-top: 200px; margin-left: -300px; margin-right: 150px;" src="./assets/images/plan2.png">
        <img style="width: 160px; height: 95px; margin-top: 200px; margin-left: -130px; margin-right: 65px;" src="./assets/images/plan2-3.png">
    </div>
    </div>
    <div class="center-div">
          
       
</div>
<br>

<div class="row container">
    <div class="col-2"></div>
    <div class="col">
        <hr /> 
        <div class="row">
            <div class="col-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-align">Semaforo 1 <br> Vehicular</h5>
                        <div class="semaforo1 alinear-horizontal">
                            <div class="focos centrar-div">
                                <div class="foco gris centrar-div" id="focoR1">
                                </div>
                                <div class="foco gris centrar-div" id="focoA1">
                                </div>
                                <div class="foco verde centrar-div" id="focoV1">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <a class="btn btn-danger center-div" href="" target="about_blank">Detener</a>
                    </div>
                </div>
            </div>
            <div class="col-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-align">Semaforo 2 <br> Vehicular</h5>
                        <div class="semaforo2 alinear-horizontal">
                            <div class="focos centrar-div">
                                <div class="foco rojo centrar-div" id="focoR2">
                                </div>
                                <div class="foco gris centrar-div" id="focoA2">
                                </div>
                                <div class="foco gris centrar-div" id="focoV2">
                                </div>
                           </div>
                        </div>
                        <hr />
                        <a class="btn btn-danger center-div" href="" target="about_blank">Detener</a>
                    </div>
                </div>
            </div>
            <div class="col-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-align">Semaforo 3 <br> Peatonal</h5>
                        <div class="semaforo1 alinear-horizontal">
                            <div class="focos centrar-div">
                                <div class="foco gris centrar-div" id="focoR1">
                                </div>
                                <div class="foco verde centrar-div" id="focoV1">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <a class="btn btn-danger center-div" href="" target="about_blank">Detener</a>
                    </div>
                </div>
            </div>
            <div class="col-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-align">Semaforo 4 <br> Peatonal</h5>
                        <div class="semaforo2 alinear-horizontal">
                            <div class="focos centrar-div">
                                <div class="foco rojo centrar-div" id="focoR2">
                                </div>
                                <div class="foco gris centrar-div" id="focoV2">
                                </div>
                           </div>
                        </div>
                        <hr />
                        <a class="btn btn-danger center-div" href="" target="about_blank">Detener</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <label for="story">Logs de Procesarmiento...</label>
        <br>
        <textarea id="story" name="story"rows="10" cols="100">
            Build at: 2022-11-09T00:29:43.684Z - Hash: e53e6f9174590fc3 - Time: 973ms

            ✔ Compiled successfully.
            ✔ Browser application bundle generation complete.

            Initial Chunk Files            | Names            |  Raw Size
            runtime.js                     | runtime          |  12.62 kB | 

            Lazy Chunk Files               | Names            |  Raw Size
            src_app_maps_maps_module_ts.js | maps-maps-module | 211.39 kB | 

            4 unchanged chunks

            Build at: 2022-11-09T00:29:56.291Z - Hash: 032d33c9350d9a8a - Time: 777ms

            ✔ Compiled successfully.
            ✔ Browser application bundle generation complete.

            Initial Chunk Files            | Names            |  Raw Size
            runtime.js                     | runtime          |  12.62 kB | 

            Lazy Chunk Files               | Names            |  Raw Size
            src_app_maps_maps_module_ts.js | maps-maps-module | 211.53 kB | 

            4 unchanged chunks

            Build at: 2022-11-09T00:30:15.041Z - Hash: 371ff896c4845104 - Time: 840ms

        </textarea>
        <br>
    </div>
</div>
